/* -- WeeklyBuilder -- */
/* layout */
#week {
  background: white;
  width: 100%;
  height: 100%;
  border: 1px solid #dddddd;
  overflow: hidden; }

#days {
  float: left;
  width: 10%; }

#hours {
  width: 90%;
  float: right;
  overflow: auto; }

#grid {
  background-color: white;
  background-attachment: inherit;
  width: 1125px; }

/* boxes */
#header_row {
  width: 1125px;
  height: 39px;
  background: #eeeeee; }

#header_box {
  height: 21px;
  width: 55px;
  border-right: 1px solid #dddddd;
  padding: 17px 1px 0px 18px;
  float: left; }

#hour {
  height: 35px;
  width: 55px;
  padding: 25px 0px 0px 20px;
  float: left; }

#day {
  height: 42px;
  border-right: 1px solid #dddddd;
  border-top: 1px solid #dddddd;
  padding: 17px 0px 0px 18px; }

#placeholder {
  height: 24px;
  border-right: 1px solid #dddddd;
  padding: 15px 0px 0px 18px; }

#day_row {
  width: 1125px;
  height: 59px;
  border-top: 1px solid #dddddd;
  position: relative; }
  #day_row #week_event {
    background: #4e5d6c;
    float: left;
    position: absolute;
    height: 51px;
    color: white;
    padding: 4px;
    opacity: 0.8;
    filter: alpha(opacity=80);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px; }
    #day_row #week_event:hover {
      background: #8997a5; }
    #day_row #week_event.approved {
      background: #528800; }
    #day_row #week_event.approved:hover {
      background: #8cbf40; }
    #day_row #week_event a {
      color: white; }
  #day_row #click_hour {
    height: 42px;
    width: 55px;
    border-right: 1px solid #dddddd;
    padding: 17px 1px 0px 18px;
    float: left; }
    #day_row #click_hour a {
      color: black; }
    #day_row #click_hour:hover {
      background: #c7f980; }

/* 24-hour calendar view */
#full_day_row {
  width: 1800px;
  height: 59px;
  border-top: 1px solid #dddddd;
  position: relative; }
  #full_day_row #week_event {
    background: #4e5d6c;
    float: left;
    position: absolute;
    height: 51px;
    color: white;
    padding: 4px;
    opacity: 0.8;
    filter: alpha(opacity=80);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px; }
    #full_day_row #week_event:hover {
      background: #8997a5; }
    #full_day_row #week_event.approved {
      background: #528800; }
    #full_day_row #week_event.approved:hover {
      background: #8cbf40; }
    #full_day_row #week_event a {
      color: white; }

#full_header_row {
  width: 1800px;
  height: 39px;
  background: #eeeeee; }

#full_grid {
  width: 1800px; }

#full_day_row #click_hour {
  height: 42px;
  width: 55px;
  border-right: 1px solid #dddddd;
  padding: 17px 1px 0px 18px;
  float: left; }
  #full_day_row #click_hour a {
    color: black; }
  #full_day_row #click_hour:hover {
    background: #c7f980; }
